annotated-types
anyio 
blinker
certifi
click
colorama
distro
filelock
Flask
fsspec
groq
h11
httpcore
httpx
idna
itsdangerous
Jinja2
MarkupSafe
mpmath
networkx
numpy
pillow
pydantic
pydantic_core
sniffio
sympy
torch
torchaudio
torchvision
typing_extensions
Werkzeug
